<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="true"
        bootstrap="vendor/autoload.php">
    <!-- start tees suite -->
    <testsuite name="Array Storage Tests">
        <directory suffix=".php">./Tests/PhpUnit</directory>
    </testsuite>
    <filter>
        <blacklist>
            <directory>./src</directory>
        </blacklist>
    </filter>
</phpunit>
